.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.formInput {
  all: unset;
  width: 100%;
  height: 2rem;
  padding: 0.4rem 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3rem;
  background-color: var(--secondery-white);
  font-size: 1.2rem;
  color: rgb(51, 51, 51);
}
.button {
  all: unset;
  background-color: #fff;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  right: 6.6rem;
}
.button:hover {
  background-color: var(--soft-pink);
}
.buttonIcon {
  font-size: 2rem;
  color: var(--purple);
}
.editIcon {
  right: 7.6rem;
}
.cancelIcon {
  right: 10.3rem;
}
.iconCancel {
  color: var(--pink);
}
@media screen and (max-width: 1000px) {
  .button {
    right: 5.5rem;
  }
  .editIcon {
    right: 6.5rem;
  }
  .cancelIcon {
    right: 9.2rem;
  }
}
@media screen and (max-width: 600px) {
  .formInput {
    font-size: 0.8rem;
    height: 1.7rem;
  }
  .button {
    width: 1.8rem;
    height: 1.8rem;
    right: 4rem;
  }
  .buttonIcon {
    font-size: 1.6rem;
  }
  .editIcon {
    right: 5.2rem;
  }
  .cancelIcon {
    right: 7rem;
  }
}
